{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header"><strong>{{ employee_record.user.first_name }} {{ employee_record.user.last_name }}</strong>
    </div>
    <div class="card-body"> 
        <p class="card-text">
            <strong>Email: </strong>{{ employee_record.user.email }}
            </p>
            <p class="card-text">
            <strong>Phone_number: </strong>{{ employee_record.phone_number }}
            </p>
            
            <p class="card-text">
            <strong>Location: </strong>{{ employee_record.location }}</p>
            
            <p class="card-text">
            <strong>Occupation: </strong>{{ employee_record.occupation }}</p>
            
            <p class="card-text">
            <strong>ID: </strong>{{ employee_record.user.id }}</p>
 <a href="{% url 'attendanceList' username=request.user.username%}" class="btn btn-primary">Back</a>
            {% comment %} {% if user.is_superuser %} {% endcomment %}
             {% comment %} <a href="{% url 'delete_record'  username=request.user.username pk=attendance_record.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
             <a href="{% url 'employee_update'  username=request.user.username pk=employee_record.user.id %}" class="btn btn-primary">Edit</a>
             {% comment %} {% elif user.is_supervisor %} {% endcomment %}
             {% comment %} <a href="{% url 'delete_record'  username=request.user.username pk=attendance_record.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
             {% comment %} {% endif %} {% endcomment %}
            {% comment %} <a href="{% url 'time_Out' username=request.user.username pk=attendance_record.id %}" class="btn btn-secondary">Time Out</a>   {% endcomment %}
    </div>
  </div>
{% endblock %}
