{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>{{ supervisor_record.user.first_name }} {{ supervisor_record.user.last_name }}</strong>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <strong>Email: </strong>{{ supervisor_record.user.email }}
                </p>
                <p class="card-text">
                    <strong>Phone Number: </strong>{{ supervisor_record.phone_number }}
                </p>
                <p class="card-text">
                    <strong>Location: </strong>{{ supervisor_record.location }}
                </p>
                <p class="card-text">
                    <strong>Occupation: </strong>{{ supervisor_record.occupation }}
                </p>
                <p class="card-text">
                    <strong>ID: </strong>{{ supervisor_record.user.id }}
                </p>
                <a href="{% url 'supervisor_list' username=request.user.username %}" class="btn btn-primary">Back</a>
                {% if user.is_superuser %}
                <a href="{% url 'delete_supervisor' username=request.user.username pk=supervisor_record.user.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'supervisor_update' username=request.user.username pk=supervisor_record.user.id %}" class="btn btn-primary">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <form method="get" class="mb-3">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="start_date">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" class="form-control" value="{{ request.GET.start_date }}">
                </div>
                <div class="form-group col-md-5">
                    <label for="end_date">End Date:</label>
                    <input type="date" id="end_date" name="end_date" class="form-control" value="{{ request.GET.end_date }}">
                </div>
                <div class="form-group col-md-2 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary mr-2">Filter</button>
                    <a href="{% url 'supervisor_record' username=username pk=supervisor_record.user.id %}" class="btn btn-secondary">Clear</a>
                </div>
            </div>
        </form>
    </div>
</div>

<h2>Attendance History</h2>
{% if attendances %}
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Time IN</th>
            <th scope="col">Time OUT</th>
            <th scope="col">Working Hours</th>
            <th scope="col">Salary</th>
            <th scope="col">Computed Salary</th>
            <th scope="col">Duty Location</th>
            <th scope="col">Status</th>
            {% if user.is_supervisor %}
            <th scope="col"></th>
            {% else %}
            <th scope="col">ID</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for attendance in attendances %}
        <tr>
            <td>{{ attendance.date }}</td>
            <td>{{ attendance.employee_Name }}</td>
            <td>{{ attendance.time_in }}</td>
            <td>{{ attendance.time_out }}</td>
            <td>{{ attendance.working_hours }}</td>
            <td>{{ attendance.salary }}</td>
            <td>{{ attendance.salary_computation }}</td>
            <td>{{ attendance.duty_location }}</td>
            <td>{% if attendance.on_duty %}<p class="text-primary">Timed In</p>{% else %} <p class="text-success">Successful</p>{% endif %}</td>
            {% if user.is_supervisor %}
            {% if attendance.on_duty %}
            <td style="text-align: center;">
                <a href="{% url 'time_Out' username=request.user.username pk=attendance.id %}" class="btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                  </svg>
                </a>
              </td>
        {% else %}
        <td style="text-align: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
            </svg>
          </td>
          
        {% endif %}
          {% else %}
          <td><a href="{% url 'attendance_record' username=username pk=attendance.id %}" class="btn btn-primary">{{ attendance.id }}</a></td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No attendance records found.</p>
{% endif %}

<h2>Total Salary Computation</h2>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Total Salary Computation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ supervisor_record.user.id }}</td>
            <td>{{ supervisor_record.user.first_name }} {{ supervisor_record.user.last_name }}</td>
            <td>{{ total_salary_computation.start_date }}</td>
            <td>{{ total_salary_computation.end_date }}</td>
            <td>{{ total_salary_computation.total }}</td>
        </tr>
    </tbody>
</table>

{% if user.is_superuser %}
<h2>Create Payslip</h2>
<div class="px-4">
    <div style="max-width: 50%;">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create Payslip</button>
        </form>
    </div>
</div>
{% endif %}
<h2>Payslip History</h2>
{% if payslips %}
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Total Salary</th>
            <th scope="col">Paid</th>
        </tr>
    </thead>
    <tbody>
        {% for payslip in payslips %}
        <tr>
            <td>{{ payslip.date_start }}</td>
            <td>{{ payslip.date_end }}</td>
            <td>{{ payslip.employeeID }}</td>
            <td>{{ payslip.employee_name }}</td>
            <td>{{ payslip.total_salary }}</td>
            <td style="text-align: center;">{% if payslip.paid %}            
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
              </svg>
              {% else %} 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6.854 5.146a.5.5 0 1 0-.708.708L7.293 7 6.146 8.146a.5.5 0 1 0 .708.708L8 7.707l1.146 1.147a.5.5 0 1 0 .708-.708L8.707 7l1.147-1.146a.5.5 0 0 0-.708-.708L8 6.293z"/>
              </svg>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No payslip records found.</p>
{% endif %}
{% endblock %}


