{% extends 'base.html' %}

{% block content %}
<h2>Welcome, {{ username }}</h2>

{% if attendances %}
  {% for attendance in attendances|dictsort:"date" %}
    {% ifchanged attendance.date %}
      {% if not forloop.first %}
        </tbody>
      </table>
      <br>
      {% endif %}
      <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col" colspan="10">{{ attendance.date }}</th>
        </tr>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Employee ID</th>
          <th scope="col">Time IN</th>
          <th scope="col">Time OUT</th> 
          <th scope="col">Working Hours</th> 
          <th scope="col">Salary</th> 
          <th scope="col">Computed Salary</th> 
          <th scope="col">Duty Location</th>  
          <th scope="col">Status</th>  
          {% if user.is_employee %}
          <th scope="col">Time out</th>
          {% else %}
          <th scope="col">ID</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
    {% endifchanged %}
    <tr>
        <td>{{ attendance.employee_Name }}</td>
        <td>{{ attendance.id }}</td>
        <td>{{ attendance.time_in }}</td>
        <td>{{ attendance.time_out }}</td>
        <td>{{ attendance.time_difference }}</td>
        <td>{{ attendance.salary }}</td>
        <td>{{ attendance.computed_salary }}</td> 
        <td>{{ attendance.duty_location }}</td>
        <td>{% if attendance.on_duty %}TIMED IN{% else %}TIMED OUT{% endif %}</td>
        {% if user.is_employee %}
        <td><a href="{% url 'time_Out' username=request.user.username pk=attendance.id %}" class="btn btn-primary">Time Out</a></td>        
        {% else %}
        <td><a href="{% url 'attendance_record' username=username pk=attendance.id %}" class="btn btn-primary">{{ attendance.id }}</a></td> 
        {% endif %}
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if user.is_superuser %}
  <form method="POST" action="{% url 'attendanceList' username=username %}">
    {% csrf_token %}
    {{ form.as_p }}
    <br/>
    <button type="submit" class="btn btn-secondary">Time IN</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
  </form>
{% endif %}
{% endblock %}



