{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <h2 class="text-center my-4">Welcome to Attpay, a system designed to track your attendance and payroll. It logs your clock-in and clock-out times, calculates your daily salary, and compiles this information to generate your payslip.</h2>
    
    {% if user.is_authenticated %}
        <div class="d-flex flex-column align-items-center my-5">
            <div class="mb-3">
                {% if user.employee.on_duty %}
                    <p><a class="btn btn-secondary" href="{% url 'attendanceList' username=user.username %}">Attendance List</a></p>
                {% else %}
                    <p><a class="btn btn-secondary" href="{% url 'time_In' username=user.username %}">Time in</a></p>
                {% endif %}
            </div>
            <button class="btn btn-primary btn-lg mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                Open Menu
            </button>
        </div>
        
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasSidebarLabel">User Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="mb-3">
                    {% if user.is_employee %}
                        <p><strong>Welcome, Employee {{ user.first_name }} {{ user.last_name }}!</strong></p>
                        <p>id: {{ user.id }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Your occupation: {{ user.employee.occupation }}</p>
                        <p>Your phone number: {{ user.employee.phone_number }}</p>
                        <p>Last logged in: {{ user.last_login }}</p>
                        <p>Date Joined: {{ user.date_joined }}</p>
                    {% elif user.is_supervisor %}
                        <p><strong>Welcome, Supervisor {{ user.first_name }} {{ user.last_name }}</strong></p>
                        <p>id: {{ user.id }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Last logged in: {{ user.last_login }}</p>
                        <p>Date Joined: {{ user.date_joined }}</p>
                    {% elif user.is_superuser %}
                        <p><strong>Welcome, Admin {{ user.first_name }} {{ user.last_name }}</strong></p>
                        <p>id: {{ user.id }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Last logged in: {{ user.last_login }}</p>
                        <p>Date Joined: {{ user.date_joined }}</p>
                    {% endif %}
                </div>
                {% if user.is_superuser or user.is_supervisor %}
                    <div class="mb-3">
                        <h3>Register</h3>
                        {% if user.is_superuser %}
                            <p><a class="btn " href="{% url 'supervisor_register' username=user.username %}">Register Supervisor</a></p>
                        {% endif %}
                        <p><a class="btn" href="{% url 'employee_register' username=user.username %}">Register Employee</a></p>
                        <p><a class="btn " href="{% url 'supervisor_record' username=user.username pk=user.id%}">Profile</a></p>
                    </div>
                    <h3>List</h3>
                    {% if user.is_superuser %}
                        <p><a class="btn " href="{% url 'supervisor_list' username=user.username %}">Supervisor List</a></p>
                    {% endif %}
                    <p><a class="btn " href="{% url 'employee_list' username=user.username %}">Employee List</a></p>
                    <p><a class="btn " href="{% url 'attendanceList' username=user.username %}">Attendance List</a></p>
                    {% comment %} <p><a class="btn" href="{% url 'schedule_list' username=user.username %}">Schedule List</a></p> {% endcomment %}
                    <p><a class="btn " href="{% url 'payslip_list' username=user.username %}">Pay Slip List</a></p>
                {% endif %}
                {% if user.employee %}
                    <p><a class="btn " href="{% url 'employee_record' username=user.username pk=user.id %}">Profile</a></p>
                {% endif %}
            </div>
        </div>
        
    {% else %}
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
        </div>
    {% endif %}
</div>
{% endblock %}







