<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">AttPay System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          {% if user.is_superuser %}

            <li class="nav-item mx-2">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>

            <div class="dropdown mx-2">
              <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Utilities
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'payslip' username=user.username %}">Pay Slip</a></li>
              </ul>
            </div>

            <div class="dropdown mx-2">
              <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'employee_register' username=user.username %}">Register Employee</a></li>
                <li><a class="dropdown-item" href="{% url 'supervisor_register' username=user.username %}">Register Supervisor</a></li>
              </ul>
            </div>

            <div class="dropdown mx-2">
              <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Lists
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'employee_list' username=user.username %}">Employee List</a></li>
                <li><a class="dropdown-item" href="{% url 'supervisor_list' username=user.username %}">Supervisor List</a></li>
                <li><a class="dropdown-item" href="{% url 'attendanceList' username=user.username %}">Attendance List</a></li>
                {% comment %} <li><a class="dropdown-item" href="{% url 'schedule_list' username=user.username %}">Schedule List</a></li> {% endcomment %}
                <li><a class="dropdown-item" href="{% url 'payslip_list' username=user.username %}">Pay Slip List</a></li>
              </ul>
            </div>
          {% elif user.is_supervisor %}

          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'supervisor_record' username=user.username pk=user.id %}">{{ user.email }}</a>
          </li>
          <div class="dropdown mx-2">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Utilities
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'time_In' username=user.username %}">Time in</a></li>
              {% comment %} <li><a class="dropdown-item" href="{% url 'payslip' username=user.username %}">Pay Slip</a></li> {% endcomment %}
              {% comment %} <li><a class="dropdown-item" href="{% url 'schedule_create' username=user.username %}">Schedule</a></li> {% endcomment %}
            </ul>
          </div>
          <div class="dropdown mx-2">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'employee_register' username=user.username %}">Register Employee</a></li>
            </ul>
          </div>

          <div class="dropdown mx-2">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Lists
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'employee_list' username=user.username %}">Employee List</a></li>
              <li><a class="dropdown-item" href="{% url 'attendanceList' username=user.username %}">Attendance List</a></li>

              <li><a class="dropdown-item" href="{% url 'payslip_list' username=user.username %}">Pay Slip List</a></li>
            </ul>
          </div>
          {% elif user.is_employee %}

          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'employee_record' username=user.username pk=user.id %}">{{ user.email }}</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'attendanceList' username=user.username  %}">Attendance List</a>
          </li>
          {% endif %}
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

